.*~
*~
#*#
*.bak*
build/*
*.class
.classpath
lib-junit/*
lib-pmd/*
*.log*
.project
reports/*
.settings
src/dataserviceLog.html
src/gen/*
src/test-gen/*
*.tmp*
src/web/node_modules/
dist/
lib/
src/web/src/static/js/activity/.module-cache/
.sonar/
target/
.vagrant

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
